.NextMatches {
	height: 100vh;
	background: url("https://media.istockphoto.com/photos/fluffy-clouds-hd-seamless-tiles-pattern-01-picture-id938695332?k=20&m=938695332&s=612x612&w=0&h=vvLS37XCtDZmvgG_nCVthhrKV6uWxhoBjoPyERsWgrE=");
}


.player {
    background: url("./maradona.png");
	display: inline-block;
	width: 35%;
	height: 90%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.matches {
	display: inline-block;
	width: 65%;
    position: relative;
    top: 20%;
    vertical-align: top;
    text-align: center;
}



.match {
	width: 22%;
	text-align: center;
	background-color: #386cbba6;
	/*background-color: #8dacd1b8;*/
	color: white;
	display: inline-block;
	padding: 1.5em;
	margin-left: 3%;
}

.match:hover {
	/*background-color: #8dacd1;*/
	background-color: #386cbb;
}


.date {
	background-color: white;
	width: 40%;
	margin: 0 auto;
	position: relative;
	top: -4em;
	padding: 0.5em;
}
.day {
	font-size: 45px;
	color: skyblue;
}
.month {
	font-weight: 600;
    font-size: 21px;
	color: skyblue;
}			
.status {
	font-size: 15px;
    font-weight: 700;
    top: -3.5em;
    position: relative;    
}
.description {
	font-weight: 600;
	font-size: 22px;
    top: -1em;
    position: relative;  
}
.competition {
	font-size: 19px;
	position: relative;
	top: -1em;
}

.home-logo img, .away-logo img {
	width: 48px;
	height: 48px;
}

.home-logo {

}
.home-name {
font-weight: bold;
    font-size: 24px;
}
.separator {
font-weight: bold;
    font-size: 24px;
}

.away-name {
font-weight: bold;
    font-size: 24px;
}
.away-logo {

}

.match-big {
	transform: scale(1.2);
}


.home-logo, .home-name, .separator, .away-name, .away-logo {
    margin-bottom: 5px;
}




@media (max-width:1000px) {


	.NextMatches {
		height: 150vh;
	}


	.player {
		width: 100%;
		height: 40%;
	}

	.matches {
		width: 100%;
		top: 10%;
	}



}



@media (max-width:600px) {

.matches {
	top: 5%;
}

.match {
	width: 22%;
    transform: scale(0.7);
    margin-left: -3%;
}

.match-big {
	transform: scale(0.9);
}


.date {
    width: 75%;
}

.home-name, .away-name, .competition {
	transform: scale(0.8);
}



}